header{
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
video{
  position: absolute;
  object-fit: cover;
  transform: rotate(180deg);
  width: 100%;
  height: 100%;
  z-index: -1;
}
h2,h4{
  text-shadow: 2px 2px 2px #000;
}
h2{
  height: 80px;
  margin: 0;
}
h4{
  padding: 0 10px;
}
.swiper-button-next{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
  border-radius: 50%;
  z-index: 20;
  width: 50px;
  height: 60px;
}
.swiper-button-prev{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto 0;
  border-radius: 50%;
  z-index: 20;
  width: 50px;
  height: 60px;
}
h4{
  height: 100px;
  margin: 0;
}
swiper-container{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 50px;
}
swiper-slide{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.slide-custom{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #0e2a52c5;
  border-radius: 10px;
  padding-top: 25px;
  box-shadow: 2px 2px 20px #000;
}

.button-slide{
  width: 50%;
  right: 0;
  left: 0;
  margin: 20px auto;
  margin-top: 0;
}

  button{
    border-radius: 25px;
    background-color: #F7B521;
    box-sizing: content-box;
    border: 5px solid #F9C75E  ;
    color: #0E2A52;
    font-weight: bold;
    cursor: pointer;
  }
