header{
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #162845;
  box-sizing: border-box;
}  

.container{
  display: flex;
  border-radius: 25px;
  border: 15px solid #F9C75E  ;
  width: 80%;
  height: 50%;
  margin: 25px 0;
}

iframe{
  width: 50%;
  height: auto;
  border: 1px solid red;
}

app-formulario{
  width: 50%;
  box-sizing: border-box;
}




@media (max-width: 800px){
  .container{
    flex-direction: column;
    margin: 20px 0px;
    width: 80%;
    font-size: 15px;
  }
  iframe{
    width: 100%;
    min-height: 500px;
  }
  app-formulario{
    width: 100%;
  }
}